<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <start *ngIf="!start_test && !complete"></start>
    </div>
  </div>
</div>
<div class="row quiz-row" *ngIf="complete">
  <div class="col-xs-12">
    <div class="col-xs-12" >
      <div style="margin-top: 200px; margin-bottom: 50px">
        <h2 style="text-align:center">Test Result: {{marks}}/{{arrQue.length}}</h2>
      </div>
    </div>
  </div>
</div>
<div class="row quiz-row" *ngIf="start_test">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <h4>{{currentQue.question}}</h4>
      <div id="option" *ngFor="let option of currentQue.option">
        <input class="quiz-radio"  type="radio" name="{{currentQue.id}}" value="{{option.optionid}}" [(ngModel)]="currentQue.selected" />{{option.name}}
      </div>
    </div>
  </div>
</div>
<div class="row quiz-row" *ngIf="!start_test" >
  <div class="col-xs-12" >
    <div class="col-xs-12">
      <input id="startutton"  class="btn btn-success quiz-btn" type="button" value="{{buttonName}}" (click)="start()"/>
    </div>
  </div>
</div>
<div class="row quiz-row" *ngIf="start_test">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <input id="nextque" class="btn btn-primary quiz-btn" type="button" *ngIf="(currentIn + 1) != arrQue.length" value="Next" (click)="next()"/>

    </div>
  </div>
</div>
<div class="row quiz-row" *ngIf="start_test && currentIn == arrQue.length - 1">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <input id="submitbtn" class="btn btn-success quiz-btn" type="button" value="Submit" (click)="submit()"/>
    </div>
  </div>
</div>
